In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import KNNImputer
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import train_test_split 
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error, r2_score
import matplotlib.pyplot as plt 
import seaborn as sns           

print("Kütüphaneler başarıyla yüklendi")

Kütüphaneler başarıyla yüklendi

In [2]:
print(" Veri Yükleme ve Teşhis (EDA) Başlatıldı ")
data = pd.read_csv("ekip_odevi_ham_veri_30k.csv")
print(f"\nVeri Boyutu: {data.shape}")

 Veri Yükleme ve Teşhis (EDA) Başlatıldı

Veri Boyutu: (30000, 17)

In [3]:
print("\n--- İlk 5 Satır (head) ---")
print(data.head())
#ilk 5 satırı çektiğimizde verimizi genel olarak gözlemledik.

--- İlk 5 Satır (head) ---
      model    year  price transmission mileage fuelType    tax   mpg  \
0     Kamiq  2019.0  21990    Semi-Auto     563   Diesel  145.0  52.3
1        Q5  2016.0  20498    Semi-Auto   33657   Diesel  200.0  47.1
2   Touareg  2019.0  39995    Semi-Auto    7000   Diesel  145.0  34.5
3      Aygo  2019.0   8690       Manual    2438   Petrol  145.0  56.5
4     S-MAX  2020.0  34498    Semi-Auto    4623   Diesel  145.0  43.5

   engineSize   marka  tax(£) fuel type engine size mileage2 fuel type2  \
0         1.6   skoda     NaN       NaN         NaN      NaN        NaN
1         2.0    audi     NaN       NaN         NaN      NaN        NaN
2         3.0      vw     NaN       NaN         NaN      NaN        NaN
3         1.0  toyota     NaN       NaN         NaN      NaN        NaN
4         2.0    ford     NaN       NaN         NaN      NaN        NaN

  engine size2 reference
0          NaN       NaN
1          NaN       NaN
2          NaN       NaN
3          NaN       NaN
4          NaN       NaN

In [4]:
print("\n--- Teknik Özet (info) ---")
data.info()
#Veri setimize teknik anlamda göz gezdirdik.Yanlış veri tiplerini bu sayede tespit ettik.
#price ve mileage sütunlarının sayısal değer olması gerekirken object olduğunu tespit ettik.

--- Teknik Özet (info) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 17 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         29965 non-null  object
 1   year          29946 non-null  float64
 2   price         29965 non-null  object
 3   transmission  29965 non-null  object
 4   mileage       29735 non-null  object
 5   fuelType      27520 non-null  object
 6   tax           23967 non-null  float64
 7   mpg           25191 non-null  float64
 8   engineSize    27520 non-null  float64
 9   marka         30000 non-null  object
 10  tax(£)        1224 non-null   float64
 11  fuel type     894 non-null    object
 12  engine size   2414 non-null   object
 13  mileage2      2428 non-null   object
 14  fuel type2    2215 non-null   object
 15  engine size2  2215 non-null   object
 16  reference     2445 non-null   object
dtypes: float64(5), object(12)
memory usage: 3.9+ MB

In [5]:
print("\n--- Eksik Veri Sayıları (isnull) ---")
print(data.isnull().sum().sort_values(ascending=False))
# her sütundaki toplam boş (NaN) veri sayısını hesapladık en çok boş olandan aza göre sıraladık.
# 'mpg', 'tax' ve 'engineSize' gibi sütunlarda eksik veri olduğunu bize gösterdi.

--- Eksik Veri Sayıları (isnull) ---
fuel type       29106
tax(£)          28776
fuel type2      27785
engine size2    27785
engine size     27586
mileage2        27572
reference       27555
tax              6033
mpg              4809
fuelType         2480
engineSize       2480
mileage           265
year               54
model              35
transmission       35
price              35
marka               0
dtype: int64

In [6]:
print("\n--- Sayısal Özet (describe) ---")
print(data.describe())
# sayısal özete baktığımızda Anomali (Aykırı Değer) olup olmadığını tespit ettik.min'/'max' çıktıları,
#'engineSize' için 'min' değerinin '0.0' olduğunu da burada gördük.

--- Sayısal Özet (describe) ---
               year           tax           mpg    engineSize       tax(£)
count  29946.000000  23967.000000  25191.000000  27520.000000  1224.000000
mean    2017.108462    119.847081     55.220813      1.659517   122.050654
std        2.115371     62.967658     16.464219      0.553655    58.916372
min     1996.000000      0.000000      1.100000      0.000000     0.000000
25%     2016.000000    125.000000     47.100000      1.200000   125.000000
50%     2017.000000    145.000000     54.300000      1.600000   145.000000
75%     2019.000000    145.000000     62.800000      2.000000   145.000000
max     2020.000000    580.000000    470.800000      6.200000   555.000000

In [7]:
print("\n--- Kategorik Özet (describe - object) ---")
print(data.describe(include=['object']))
#model sütununun fazla eşsiz değere sahip olduğunu, transmission gibi sütunların ise
#az değere sahip olduğunu gördük. Bu nedenle, fazla sütun oluşturmamak için model'e Frekans
#Kodlaması uygularken, transmission ve fuelType'a One-Hot Encoding (pd.get_dummies) uygulayacağımızı gördük.

--- Kategorik Özet (describe - object) ---
         model  price transmission mileage fuelType  marka fuel type  \
count    29965  29965        29965   29735    27520  30000       894
unique     179   7703            4   20045        4     13        38
top      Focus   9995       Manual    1000   Petrol   ford    Petrol
freq      3932    149        16824     225    15180   4591       147

       engine size mileage2 fuel type2 engine size2     reference
count         2414     2428       2215         2215          2445
unique          38      190          4           60          2445
top           £145     60.1     Petrol            2  /ad/24230598
freq          1248      311       1170          517             1

In [8]:
original_rows = data.shape[0]
data.drop_duplicates(inplace=True)
print(f" Tekilleştirme yapıldı. {original_rows - data.shape[0]} adet kopya satır kaldırıldı.")
# Bu işlem, veri setimizin "tarafsız" olmasını sağlar ve modelimizin yanlış yönlendirilmesini (bias) engeller.

 Tekilleştirme yapıldı. 301 adet kopya satır kaldırıldı.

In [9]:
main_cols = ['model', 'year', 'price', 'transmission', 'mileage', 
             'fuelType', 'tax', 'mpg', 'engineSize', 'marka']
data_cleaned = data[main_cols].copy()
# Veri setimizin "genişliğini" (boyutunu) 17 gürültülü sütundan,
# 10 adet temiz ve anlamlı öznitelik sütununa indirdik.

In [11]:
data_cleaned['price'] = data_cleaned['price'].astype(str).str.replace(r'[ £",]', '', regex=True)
data_cleaned['price'] = pd.to_numeric(data_cleaned['price'], errors='coerce')
data_cleaned['mileage'] = data_cleaned['mileage'].astype(str).str.replace(r'[",]', '', regex=True)
data_cleaned['mileage'] = pd.to_numeric(data_cleaned['mileage'], errors='coerce')
print("Veride 'price' ve 'mileage' sütunları temizlendi ve sayısala dönüştürüldü.")

Veride 'price' ve 'mileage' sütunları temizlendi ve sayısala dönüştürüldü.

In [12]:
initial_row_count = data_cleaned.shape[0]
# Mantıksız veya aşırı aykırı değerleri filtreledik.
data_cleaned = data_cleaned[(data_cleaned['price'] > 100) & (data_cleaned['price'] < 250000)]
data_cleaned = data_cleaned[data_cleaned['mileage'] > 10]
data_cleaned = data_cleaned[data_cleaned['year'] > 1995]
print(f"Anomali filtrelemesi ile {initial_row_count - data_cleaned.shape[0]} adet mantıksız satır kaldırıldı.")

Anomali filtrelemesi ile 517 adet mantıksız satır kaldırıldı.

In [13]:
#'engineSize' 0 olanları 'eksik' (NaN) olarak işaretledik.
data_cleaned['engineSize'] = data_cleaned['engineSize'].replace(0, np.nan)
print("Veride'engineSize' = 0 olanlar 'NaN' (eksik veri) olarak işaretlendi.")

Veride'engineSize' = 0 olanlar 'NaN' (eksik veri) olarak işaretlendi.

In [14]:
print(f"[BİLGİ] Bölüm 1 tamamlandı. Veri boyutu: {data_cleaned.shape}")

[BİLGİ] Bölüm 1 tamamlandı. Veri boyutu: (29182, 10)

In [15]:
print("\n--- Bölüm 2 (Doldurma) Öncesi Eksik Veri Durumu ---")
print(data_cleaned.isnull().sum())

--- Bölüm 2 (Doldurma) Öncesi Eksik Veri Durumu ---
model              0
year               0
price              0
transmission       0
mileage            0
fuelType        2187
tax             5605
mpg             4396
engineSize      2258
marka              0
dtype: int64